
.skin-black .main-header>.logo {
  background-color: #222d32;
  border-right: 0px;
  
}

.skin-black .main-header .navbar {
  background-color: #008752;
}

.skin-black .main-header .navbar>.sidebar-toggle {
  border-right: 1px solid #005835;
}

.main-sidebar {
  padding-top: 70px;
}

.col-sm-8 {
  width: 100%;
}

img.image-thumb {
  width: 600px;
}

hr {
  width: 100%;
  border-top: 3px solid #000000;
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.shiny-material-button {
  margin-top: 0px;
}

.waves-effect {
  margin-right: 20px;
}

.navbar-static-top {
  line-height: normal;
  height: auto;
}

.shiny-input-container > .shiny-input-container-inline {
  width: 100%;
}

.shiny-input-container {
  width: 100%;
}

.shiny-input-container:not(.shiny-input-container-inline){
    width: 100%;

}

ul {
  list-style-type: disc;
}

.row {
  display: flex;
}

#help_btn1, #help_btn2,
#help_btn3, #help_btn4,
#help_btn5, #help_btn6,
#help_btn7, #help_btn8,
#help_btn9, #help_btn10,
#help_btn11, #help_btn12,
#help_btn13, #help_btn14,
#help_btn15, #help_btn16,
#help_btn17, #help_btn18 {
  border-radius: 17px;
  padding: revert;
  margin: 14px;
  max-width: max-content;

}

#shiny-notification-panel {
 position:fixed;
 width: 350px;
 padding: 10px;
}

li {
  display: list-item;
  list-style-type: disc;
  padding-left: 10px;
}

li.browser-default {
  display: list-item;
  list-style-type: disc;
  padding-left: 10px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

#logo_UNITN {
  width: 30%;
  max-width: 400px;
}

#logo_protn {
  height: 90%;
}

.btn_example{
    background-color: transparent;
    color: #039be5;
    font-style: italic;
    text-decoration: underline;
    font-family: math;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
/*  width: 100%; */
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.fa {
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  font: normal normal normal 22px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

button:hover, a:hover {
  opacity: 0.7;
}


#loadmessage {
  position:fixed; z-index:8; top:50%; left:50%; padding:10px;
  text-align:center; font-weight:bold; color:#000000; background-color:#CCFF66;
}
  
.cover_hide {
  visibility: hidden;
}

.cover_run {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #BFBFBF;
  opacity: .5;
  overflow: hidden;
  z-index: 9;
  pointer-events: none;
  
}

.prevent_click{
  position:fixed; 
  z-index:9;
  width:100%;
  height:100vh;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
}

.loader {
  position:fixed; 
  z-index:8; 
  border:16px solid #404040;
  border-top: 16px solid #337ab7; 
  border-radius: 50%;
  width: 120px; 
  height: 120px; 
  top:45%; 
  left:45%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}